node_modules/
dist/
.env
.env.local
*.db
*.db-journal
*.db-wal
.DS_Store
.ji/
ji-data/
*.log
coverage/
.nyc_output/
.vscode/
.idea/
config.json
**/config.json
test-config.json
**/test-config.json
**/*.mdb
data.ms/
data.ms/
